.about
  background: url("../images/about-bg.png") no-repeat top center
  background-size: cover
  &-title
    font-size: 48px
    line-height: 59px
    letter-spacing: 0.02em
    display: flex
    align-items: center
    +bold
    &::before
      @include line-before-title-lg
  &_title
    margin-top: 160px
    margin-bottom: 64px
  &-description
    max-width: 790px
    font-size: 16px
    line-height: 160%
  &-description
    margin-top: 40px
    padding-left: 168px
  &-block
    padding-top: 14%
    padding-bottom: 3%
    padding-right: 8%

.appeal-block
  display: flex
  background: url("../images/advantages/signature.png") no-repeat bottom right
  min-height: 550px
  margin-left: 168px
  &__photo
    margin-right: 56px
    img
      width: 400px
      height: 488px
  &__text
    p
      max-width: 600px
      font-size: 16px
      line-height: 160%
.results-block
  display: flex
  justify-content: space-between
  margin-left: 168px
  &__item
    display: flex
    flex-direction: column
  &__number
    font-size: 96px
    line-height: 117px
    letter-spacing: -0.04em
    text-transform: uppercase
    +bold
  &__units
    font-style: italic
    font-size: 16px
    line-height: 23px
    letter-spacing: 0.02em
    +bold
  &__text
    font-size: 16px
    line-height: 23px
    letter-spacing: 0.02em
.advantages-block
  display: flex
  justify-content: space-between
  margin-left: 168px
  &__item
    text-align: center
    flex-basis: 20%
@media(max-width: 1023px) and (min-width: 768px)
  .about
    &-description
      padding-left: 80px
    &-title
      font-size: 36px
      line-height: 44px
      +bold
      &::before
        width: 48px
        margin-right: 16px
    &_title
      margin-top: 120px
  .appeal-block
    margin-left: 80px
    background: url("../images/advantages/signature.png") no-repeat 0% 70%
    &__photo
      img
        width: 200px
        height: 240px
    &__text
      font-size: 15px
      line-height: 160%
      max-width: 440px
      p
        &:first-child
          margin-top: 0
  .results-block
    flex-wrap: wrap
    justify-content: flex-start
    margin-left: 80px
    &__item
      flex-basis: 33%
  .advantages-block
    flex-wrap: wrap
    justify-content: space-around
    margin-left: 80px
    &__item
      flex-basis: 34%
      &:first-child
        margin-bottom: 45px
    &__text
      width: 224px
      margin: 0 auto
@media(max-width: 767px)
  .about
    &-block
      padding-left: 25px
    &-title
      font-size: 24px
      line-height: 29px
      &::before
        display: none
    &_title
      margin-top: 40px
      margin-bottom: 16px
    &-description
      font-size: 14px
      padding-left: 0
  .appeal-block
    background: url("")
    flex-direction: column
    margin-left: 0
    &__photo
      img
        width: 200px
        height: 240px
    &__text
      p
        font-size: 14px
  .results-block
    flex-direction: column
    align-items: center
    margin-left: 0
    &__number
      display: block
    &__units
      display: block
      text-align: center
    &__text
      text-align: center
    &__dot
      display: inline-block
      width: 10px
      height: 10px
      background-color: #ffffff
      border-radius: 50px
      &s
        margin-top: 10px
        text-align: center
  .active
    background-color: #E75333
  .advantages-block
    flex-direction: column
    align-items: center
    margin-left: 0
    &__dot
      display: inline-block
      width: 10px
      height: 10px
      background-color: #ffffff
      border-radius: 50px
      &s
        margin-top: 10px
        text-align: center
    &__text
      width: 224px
      min-height: 71px
      margin: 0 auto
  .active
    background-color: #E75333
