.header
  background-color: #c4c4c4
  &-block
    display: flex
    justify-content: space-between
  &-logo

  &-menu
    margin-top: 40px
    &__item
      margin-left: 32px
      font-weight: 600
      font-size: 14px
      line-height: 17px
      letter-spacing: 0.02em
      &:first-child
        margin-left: 0
  &-phone
    margin-top: 40px
    margin-left: 64px
    font-weight: 600
    font-size: 14px
    line-height: 17px
    letter-spacing: 0.02em
