body
  color: $main-text-color
  +normal
  a
    text-decoration: none
    text-transform: uppercase
    color: $main-text-color
    +normal
.btn
  border: 2px solid #ffffff
  color: #ffffff
  font-size: 15px
  line-height: 18px
  letter-spacing: 0.03em
  text-transform: uppercase
  background-color: transparent
  +bold
  &:hover
    cursor: pointer
    background-color: rgba(#c1c1c1, 0.3)
