.slider
  &-arrow
    margin-right: 48px
  &-client
    flex-basis: 20%
    &s
      &-wrap
        display: flex
        flex-wrap: wrap
        align-items: center
  &-service
    flex-basis: 20%
    &__icon
    &__line
      width: 96px
      height: 1px
      background-color: #fff
      margin-top: 24px
      margin-bottom: 24px
    &__title
      max-width: 80%
      margin-bottom: 55px
      font-weight: 500
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.02em
      color: #F7F7F7
      +sb
    &s
      &-wrap
        display: flex
        flex-wrap: wrap
  &-number
    margin-right: 47px
    &:last-child
      margin-right: 0
    &__value
      font-size: 80px
      line-height: 100%
      letter-spacing: -0.04em
      +bold
    &__items
      display: flex
      justify-content: center
      align-items: center
      width: 200px
      height: 32px
      background-color: #ffffff
      border: none
      color: #E75333
      font-size: 14px
      line-height: 17px
      text-transform: uppercase
      font-weight: 600
      margin-top: -10px
    &__title
      text-transform: uppercase
      font-size: 14px
      line-height: 20px
      margin-top: 5px
      +sb
    &s
      &-wrap
        display: flex
  &-description
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 3%
    margin-left: 0.5%
  &-button
    width: 204px
    height: 65px
  &-subtitle
    font-size: 16px
    line-height: 170%
    font-weight: 500
    margin-top: 40px
    max-width: 456px
  &-title
    padding-top: 240px
  &-title
    text-transform: uppercase
    font-size: 64px
    line-height: 125%
    letter-spacing: 0.02em
    max-width: 1080px
    +bold
  &-item
    display: none
    height: 846px
    padding: 0% 5.5%
    &_bg1
      background: #484848 url("../images/slider/first-bg.png") no-repeat center
      background-size: cover
    &_bg2
      background: #484848 url("../images/slider/second-bg.png") no-repeat center
      background-size: cover
    &_bg3
      background: #484848 url("../images/slider/third-bg.png") no-repeat center
      background-size: cover
    &_bg4
      background: #484848 url("../images/slider/forth-bg.png") no-repeat center
      background-size: cover
    &s
.dot
  cursor: pointer
  height: 12px
  width: 64px
  margin: 0 2px
  background: url("../images/slider/plain-dot.png") no-repeat center
  background-size: cover
  display: inline-block
  transition: background-color 0.6s ease
  &s
    left: 8%
    position: absolute
    bottom: 5%
    z-index: 1
.active
  background: url("../images/slider/active-dot.png") no-repeat center

@media(max-width: 1023px) and (min-width: 768px)
  .dots
    text-align: center
  .slider
    &-arrow
      display: none
    &-client
      flex-basis: 40%
      img
        width: 100%
      &_button
        margin-top: 82px
      &s
        &-wrap
    &-title
      font-size: 40px
    &-subtitle
      margin-top: 40px
      margin-bottom: 64px
    &-button
      margin-bottom: 80px
      img
        display: none
    &-description
      flex-direction: column
      align-items: flex-start
    &-service
      flex-basis: 33.3%
      &s
        &-wrap

@media(max-width: 767px)
  .dot
    background: #ffffff url("") no-repeat center
    width: 10px
    height: 10px
    border-radius: 50px
    &s
      width: 120px
      left: calc( 50% - 60px )
      text-align: center
  .active
    background: #E75333 url("") no-repeat center
    width: 10px
    height: 10px
    border-radius: 50px
  .slider
    &-client
      flex-basis: 40%
      img
        width: 100%
    &-arrow
      display: none
    &-service
      display: flex
      align-items: center
      margin-bottom: 15px
      &__title
        margin-bottom: 0
        max-width: 100%
      &__line
        width: 10px
        margin-top: 0
        margin-bottom: 0
      &__icon
        display: none
      &s
        &-wrap
          flex-direction: column
    &-button
      width: 272px
      margin-top: 86px
      img
        display: none
    &-description
      flex-direction: column-reverse
    &-number
      display: flex
      margin-bottom: 20px
      &__text
      &__items
        justify-content: flex-start
        align-items: flex-start
        font-size: 14px
        line-height: 17px
        background-color: transparent
        color: #ffffff
        height: 17px
        flex-basis: 30%
        margin-top: 0
        max-width: 100px
      &__title
        height: 17px
        font-size: 14px
        line-height: 17px
      &__value
        font-size: 26px
        text-align: right
        min-width: 80px
        margin-right: 12px
      &s
        &-wrap
          flex-direction: column
    &-title
      font-size: 24px
      margin-bottom: 40px
    &-subtitle
      display: none
  .map-subtitle
    display: block
    margin-top: 24px
    margin-bottom: 170px
